.itemsInStack{
    width: 18em;
    height: 2em;
    margin: 5px 0;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.stackPushAmination{
    animation: push 550ms ease-in forwards;
}

.popAnimation:last-child{
    animation: pop 550ms ease-in forwards;
}

@keyframes push {
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes pop {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-200px);
        opacity: 0;
    }
}

@media screen and (width < 1000px) {
    .itemsInStack{
        font-size: 18px;
        width: 17em;
    }
}

@media screen and (width < 450px) {
    .itemsInStack{
        font-size: 16px;
        width: 15em;
    }
}

